$font-family: 'Oswald', sans-serif;

// colors
$blue: #2530c9;
$blue-sky: #5ca4fb;
$grayish: #3e427e;
$dark-pink: #fc1aaf;
$light-pink: #f9c9ce;
$white: #fff;

// transition
$trans: .3s;
// https://nicepage.com/templates/preview/create-content-that-connects-118282?device=desktop